<%- if controller_name != 'sessions' %>
  <p>ユーザー登録が完了している方は、<br>
  <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。</p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>ユーザー登録が完了していない方は、<br>
  <%= link_to "こちら", new_registration_path(resource_name) %>から新規ユーザー登録してください。<br />
<% end %>


