<h2 class="mb-4 mt-3 ml-5">エリア編集</h2>

<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <span>
        <%= form_with model: @area, url: admin_area_path, method: :patch do |f| %>
          <p>エリア名</p>
           <%= f.text_field :name %>
           <%= f.submit '変更を保存', class: "btn btn-primary" %>
        <% end %>
      </span>
    </div>
  </div>
</div>