<div class="container mt-5">
  <div class="row">
    <h2>ユーザー一覧</h2>
  </div>
  <div class="row">
      <table class="table col-7 mx-auto">
        <thead>
        <tr>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>投稿数</th>
        </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to admin_user_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td><%= user.email %></td>
              <td><%= user.post_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>